<mat-toolbar color="primary" class="toolbar">
  <div class="logo-container">
    <img [src]="logoUrl" alt="Eventify Logo" class="logo" />
    <span class="certification">ISO 27001:2022 certified</span>
  </div>
  <span class="spacer"></span>

  <a mat-button routerLink="/home" routerLinkActive="active-link">
    Home
  </a>

  <a mat-button routerLink="/engagement/ratings/new" routerLinkActive="active-link">
    Rating
  </a>

  <span class="spacer"></span>

  <app-language-switcher/>
</mat-toolbar>
