<mat-toolbar color="primary" class="toolbar">
  <div class="logo-container">
    <img [src]="logoUrl" alt="Eventify Logo" class="logo" />
    <span class="certification">{{ 'APP.ISO_CERTIFICATION' | translate }}</span>
  </div>
  <span class="spacer"></span>

  <a mat-button routerLink="/home" routerLinkActive="active-link" aria-label="Ir a la página Home">
    {{ 'NAVIGATION.HOME' | translate }}
  </a>

  <a mat-button routerLink="/engagement/ratings/new" routerLinkActive="active-link" aria-label="Ir a la página Rating">
    {{ 'NAVIGATION.RATING' | translate }}
  </a>

  <span class="spacer"></span>

  <app-language-switcher/>
</mat-toolbar>
