<footer>
  <mat-toolbar color="primary" class="footer-toolbar">
    <div class="footer-container">
      <div class="footer-copyright">
        {{ 'FOOTER.COPYRIGHT' | translate }}
      </div>
      <div class="footer-links">
        <a href="#" aria-label="{{ 'FOOTER.PRIVACY' | translate }}">{{ 'FOOTER.PRIVACY' | translate }}</a>
        <a href="#" aria-label="{{ 'FOOTER.TERMS' | translate }}">{{ 'FOOTER.TERMS' | translate }}</a>
        <a href="#" aria-label="{{ 'FOOTER.CONTACT' | translate }}">{{ 'FOOTER.CONTACT' | translate }}</a>
      </div>
    </div>
  </mat-toolbar>
</footer>
