<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>{{ 'APP.TITLE' | translate }}</span>

    <span class="mat-spacer"></span>

    <span class="certification">
      {{ 'APP.ISO_CERTIFICATION' | translate }}
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<app-sidenav
  [isSidenavOpen]="isSidenavOpen"
  [options]="options"
  (sidenavClosed)="isSidenavOpen = false">
</app-sidenav>

<app-footer/>
